.Card-container {
  margin: 1em 5em;
}

.Card-header {
  color: #737373;
}

.Card-footer {
  margin-top: 20px;
  min-height: 300px;
}

.Card-details {
  width: 100%;
  padding: 20px;
  display: block;
  background-color: #fff;
}

.Card-name {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.Card-desc {
  width: 80%;
  padding: 10px;
  display: block;
  min-height: 100px;
  border: 1px solid #d6d6d6;
}

.Card-delete {
  padding: 10px;
  max-width: 20%;
  display: block;
  border: 1px solid #d6d6d6;
}
